<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1006120942283-psjll3pb4ghdjn0oaemv44ufcl1rlops.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1006120942283-psjll3pb4ghdjn0oaemv44ufcl1rlops</string>
	<key>API_KEY</key>
	<string>AIzaSyCppKtCFT0MIdaqJXGu3xSPLOp-Hw7DMig</string>
	<key>GCM_SENDER_ID</key>
	<string>1006120942283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capeofgoodapps.yellow</string>
	<key>PROJECT_ID</key>
	<string>yellow-ad145</string>
	<key>STORAGE_BUCKET</key>
	<string>yellow-ad145.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1006120942283:ios:f70654b8f436cd5df0f94e</string>
</dict>
</plist>